<table class="w-full py-16 border-0 border-b border-solid border-github-border">
  <tr>
    <td class="w-2/12 align-top text-center">
      <a class="inline-block" href="{{ url }}" target="_blank">
        <img class="rounded-1/2 inline-block align-middle shadow" src="{{ avatarUrl }}" alt="{{ '@' + login }}"
          width="50" height="50" />
      </a>
    </td>
    <td class="w-10/12 align-top pr-8">
      <a class="inline-block no-underline my-0 mb-4" href="{{ url }}" target="_blank">
        <if condition="!!name">
          <span class="text-github-primary text-base pr-4">{{ name }}</span>
        </if>
        <span class="text-github-secondary text-sm">{{ login }}</span>
      </a>

      <if condition="!!bio">
        <div class="text-github-secondary text-xs my-0 mb-8">
          <div>{{ bio }}</div>
        </div>
      </if>

      <p class="text-github-secondary text-xs my-0 mb-0">
        <if condition="!!company">
          <span class="mr-16">
            🏢&nbsp;{{company}}
          </span>
        </if>
        <if condition="!!location">
          <span>
            📍&nbsp;{{location}}
          </span>
        </if>
      </p>
    </td>
  </tr>
</table>